<% include ../layout/header.ejs %>
<!-- Header End -->

<div id="maincontainer">
  <section id="product">
    <div class="container">
     <!--  breadcrumb -->  
      <ul class="breadcrumb">
        <li>
          <a href="#">Home</a>
          <span class="divider">/</span>
        </li>
        <li class="active">Category</li>
      </ul>
      <div class="row">        
        <!-- Sidebar Start-->
        <aside class="span3">
         <!-- Category-->  
          <div class="sidewidt">
            <h2 class="heading2"><span>Danh Mục Sản Phẩm</span></h2>
            <ul class="nav nav-list categories">
              <% cate.forEach(function(ca){ %>
                <li>
                  <a href="/cate/<%= ca.nameKhongDau %>.<%= ca._id%>.html"><%= ca.name%></a>
                </li>
             
              <%})%>
            </ul>
          </div>
         <!--  Best Seller -->  
       
          <!-- Latest Product -->  
          
          <!--  Must have -->  
         
        </aside>
        <!-- Sidebar End-->
        <!-- Category-->
        <div class="span9">          
          <!-- Category Products-->
          <section id="category">
            <div class="row">
              <div class="span9">
               <!-- Category-->
                <section id="categorygrid">
                  <ul class="thumbnails grid">
                     <% product.forEach(function(pro){  %>

                      <li class="span3">
                        <a class="prdocutname" href="product.html"> <%= pro.name %> </a>
                        <div class="thumbnail">
                          <span class="sale tooltip-test">Sale</span>
                          <a href="/chi-tiet/<%= pro.nameKhongDau%>.<%= pro._id%>.<%= pro.cateId%>.html"><img alt="" src="upload/<%= pro.img %>"></a>
                          <div class="pricetag">
                            <span class="spiral"></span><a href="/add-cart.<%= pro._id %>" class="productcart">ADD TO CART</a>
                            <div class="price">
                              <div class="pricenew"><%= pro.price %></div>
                            </div>
                          </div>
                        </div>
                      </li>
                <% })%>

                  
                  </ul>
                  <div class="pagination pull-right">
                    <ul>
                      
                    </ul>
                  </div>
                </section>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Footer -->
<% include ../layout/footer.ejs %>