        <% include ../playout/header.ejs %>
        <!-- END TOPBAR -->
        <!-- START CONTAINER -->
        <div class="page-container row-fluid container-fluid">
            <!-- SIDEBAR - START -->
           
                 <% include ../playout/menu.ejs %>


            <!--  SIDEBAR - END -->
            <!-- START CONTENT -->
            <section id="main-content" class=" ">
            <section class="wrapper main-wrapper row" style=''>
                <div class='col-xs-12'>
                    <div class="page-title">
                        <div class="pull-left">
                            <h1 class="title">Sửa Sản Phẩm</h1>
                        </div>
                        <div class="pull-right hidden-xs">
                            
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-12">
                    <section class="box ">
                        <header class="panel_header">
                            <h2 class="title pull-left">Thông Tin</h2>
                            <div class="actions panel_actions pull-right">
                                <a class="box_toggle fa fa-chevron-down"></a>
                                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                                <a class="box_close fa fa-times"></a>
                            </div>
                        </header>
                        <div class="content-body">
                            <div class="row">
                                <% if(success_msg != ''){ %> 
                                    <div class="alert alert-success"><%= success_msg%></div>
                               <% } %>
                                <% if(errors) { %>
                                <div class="alert alert-danger">
                                    <% errors.forEach(function(e){ %>

                                        <%= e.msg %> <br/>
                                    <%});%>

                                </div>
                                <% };%>
                                <form action ="" method="post" enctype="multipart/form-data">
                                    <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                        <div class="form-group">
                                            <label class="form-label" for="field-120334">Name</label>
                                            <span class="desc"></span>
                                            <div class="controls">
                                                <input type="text" id="name" value="<%= product.name%>" class="form-control" name="name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                        <div class="form-group">
                                            <label class="form-label" for="field-120334">Hình</label>
                                            <span class="desc"></span><br/>
                                            <img src="upload/<%= product.img%>" width="200px">
                                            <div class="controls">
                                                <input type="file" id="hinh" value="aaaa" required="required" class="form-control" name="hinh">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                        <div class="form-group">
                                            <label class="form-label" for="field-120334">Giá</label>
                                            <span class="desc"></span>
                                            <div class="controls">
                                                <input type="number" id="gia" value="<%= product.price%>" min="0" class="form-control" name="gia">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                        <div class="form-group">
                                            <label class="form-label" for="field-120334">Thể Loại</label>
                                            <span class="desc"></span>
                                            <div class="controls">
                                                <select class="form-control" id="cate" name="cate">
                                                    <% cate.forEach(function(item){ %> 
                                                        <option value="<%= item._id%>" <%= (item._id == product.cateId) ? 'selected=\"selected\"' : ''%> ><%= item.name%></option>
                                                    <%})%>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                        <div class="form-group">
                                            <label class="form-label" for="field-120334">Chi Tiết Sản Phẩm</label>
                                            <span class="desc"></span>
                                            <div class="controls">
                                                <textarea name="des" id="des" class="form-control autogrow" cols="5" ><%= product.des%></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                        <div class="text-left">
                                            <button type="submit" class="btn btn-primary">Save</button>
                                            <button type="button" class="btn">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                                </div>
                            </div>
                    </section>
                    </div>
            </section>
        </section>
            <!-- END CONTENT -->
            <div class="chatapi-windows ">
            </div>
<% include ../playout/footer.ejs %>